<!DOCTYPE HTML>
<html>
  <head>
    <title>Comisionista Online</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="<%= asset_url 'favicon.png' %>"/>
  </head>

  <body class="home-page">
    <%= render 'shared/navbar' %>

    <div class="container-fluid home-content">
      <% if flash[:notice] || flash[:alert] %>
        <div class="row">
          <div class="alert <%= flash[:alert] ? 'alert-danger' : 'alert-info' %> alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:notice] || flash[:alert] %>
          </div>
        </div>
      <% end %>
      <section class="row section-1">
        <div class="col-md-5 col-sm-12 col-md-offset-1 presentation">
          <h1>Bienvenido a su Comisionista Online</h1>
          <hr class="separator">
          <p>La solución informática para la administración de sus clientes, inversionistas y proyectos en un sólo sitio.</p>
          <br/>
        </div>
        <div class="col-md-6 col-sm-12 image-container">
          <%= image_tag 'home/section1.png' %>
        </div>
      </section>

      <section class="row section-2">
        <div class="col-md-5 col-md-offset-1 col-sm-12 presentation">
          <h1>El portal web para sus gestionar sus negocios</h1>
          <hr class="separator">
          <p>
            Comisionista Online es la solución en la nube en la que ud puede gestionar los proyectos, inmuebles y demás bienes y servicios en un solo sitio. Aquí podrá contactar crear y gestionar sus proveedores de bienes inmuebles, inversionistas, clientes. Cree y publique apartamentos, lotes, edificios y proyectos.
          </p>
        </div>
        <div class="col-md-6 col-sm-12 image-container">
          <%= image_tag 'home/section2.png' %>
        </div>
      </section>

      <section class="row section-3">
        <div class="col-md-6 col-sm-12 image-container">
          <%= image_tag 'home/section3.png' %>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-12 presentation">
          <h1>Cómo empezar</h1>
          <hr class="separator">
          <p>
            <span class="number-square">1</span>Ingrese al portar<br/>
            <span class="number-square">2</span>Cree una cuenta de usuario<br/>
            <span class="number-square">3</span>Empiece a gestionar sus productos y servicios<br/>
          </p>
        </div>
      </section>

      <section class="row section-4">
        <div class="col-md-10 col-md-offset-2 col-md-pull-1 col-sm-12 no-padding">
          <span class="benefits">Beneficios</span>
          <br/>
          <hr class="separator green">
          <h1>Con Comisionista Online:</h1>
          <br/><br/>
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 panel-wrapper">
              <div class="panel">
                <%= fa_icon 'address-card-o', class: 'green' %>
                <h2>Gestion de Clientes</h2>
                <br/>
                <p>Cree una lista de clientes o invítelos a que creen cuenta y mantenga contacto con ellos</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 panel-wrapper">
              <div class="panel">
                <%= fa_icon 'users', class: 'green' %>
                <h2>Gestión de Proveedores</h2>
                <br/>
                <p>Cree una lista de proveedores o invítelos a que creen cuenta y mantenga contacto con ellos</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 panel-wrapper">
              <div class="panel">
                <%= fa_icon 'building-o', class: 'green' %>
                <h2>Gestión de Inmuebles</h2>
                <br/>
                <p>Cree y publique inmuebles a la venta o en arriendo y compartalo con todo el mundo</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 panel-wrapper">
              <div class="panel">
                <%= fa_icon 'envelope-o', class: 'green' %>
                <h2>Envío de correos  </h2>
                <br/>
                <p>Envíe correos a su lista de contactos o clientes y comparta los proyectos que esté gestionando</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 panel-wrapper">
              <div class="panel">
                <%= fa_icon 'commenting-o', class: 'green' %>
                <h2>Mensajes internos</h2>
                <br/>
                <p>Envíe mensajes internos a través de la misma aplicación a los usuarios registrados</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 panel-wrapper">
              <div class="panel">
                <%= fa_icon 'handshake-o', class: 'green' %>
                <h2>Haga negocios</h2>
                <br/>
                <p>Optimice la manera de hacer negocios mediante herramientas informáticas</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="row section-5">
        <div class="col-xs-12 presentation">
          <h1>Pruébela ahora</h1>
          <p>¿Qué espera? Registrese ahora y comience a crear su propia red de negocios inmobiliarios</p>
          <br/>
          <%= link_to 'Registrarse', new_user_registration_path, class: 'btn btn-primary' %>
        </div>
      </section>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
