<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Comisionista Online' %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="icon" type="image/png" href="<%= asset_url 'favicon.png' %>"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <% if flash[:notice].present? %>
      <div class="toastr-messages" data-type="success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert].present? %>
      <div class="toastr-messages" data-type="error">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <div id="wrapper">
      <%= render 'shared/navbar_inner' %>
      <%= render 'shared/side_menu' %>

      <button type="button" class="hamburger is-closed hidden-xs" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>

      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <div id="loading-overlay">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
