<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Comisionista Online' %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/png" href="<%= asset_url 'favicon.png' %>"/>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
